.arrow {
  padding-bottom: 1.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.back_arrow_wrapper {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 0.25rem;
  margin-left: 15rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.back_arrow {
  font-size: 2.4rem !important;
  color: var(--light_red);
  font-weight: 900;
}

.back_arrow_wrapper:hover {
  transform: scale(0.95);
}

.arrow:hover {
  transform: scale(0.95);
}

.start_btn {
  padding: 0.65rem 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid transparent;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.375rem;
  line-height: 1.75;
  color: var(--light_red);
  border-color: rgba(235, 61, 84, 0.15);
  background-color: rgba(235, 61, 84, 0.15);
  border: 2px solid transparent;
}

.start_btn:hover {
  background-color: rgba(235, 61, 84, 1);
  color: var(--white_color);
}

.landing_img_container {
  position: relative;
  height: 80vh;
}
.landing_img {
  position: absolute;
  max-width: 100%;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
}
/* positioning text over the images */
.landing_img_content {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 20%;
}
.landing_img_content h2 {
  color: var(--light_red);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 4rem;
  text-transform: capitalize;
  padding: 0 20vw;
}
.landing_img_content p {
  color: var(--white_color);
}

/* section2 */

.section2 {
  padding: 2rem 30vw;
  display: flex;
  flex-direction: column;
}
.section2 h2 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--dark_red);
}

.section2 h3 {
  color: var(--light_red);
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
}
.section2 textarea,
.section2 input[type="file"] {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.section2 textarea {
  padding: 10px 15px;
  color: var(--dark_red);
  font-size: 1.1rem;
  border-color: #ccc;
  border: 2px solid #ccc;
}
.section2 textarea:focus {
  outline: none !important;
  border-color: var(--light_red);
  box-shadow: 0 0 10px var(--light_red);
}

.section2 input[type="file"] {
  padding: 40px;
  border: 2px solid #ccc;
  color: var(--light_red);
}

.section2 button {
  transition: all 0.3s ease;
  background-color: var(--light_red);
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.section2 button:hover {
  background-color: var(--dark_red);
  transform: scale(0.95);
}

.error {
  color: var(--light_red);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

/* Custom Loader used in Section 2 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 250, 0.75);
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_loader {
  width: 100px;
  height: 100px;
  color: var(--light_red);
  position: relative;
}
.custom_loader:before,
.custom_loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: 50px 50px;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-repeat: no-repeat;
}
.custom_loader:before {
  background-image: radial-gradient(
      farthest-side at top left,
      currentColor 96%,
      #0000
    ),
    radial-gradient(farthest-side at top right, currentColor 96%, #0000),
    radial-gradient(farthest-side at bottom right, currentColor 96%, #0000),
    radial-gradient(farthest-side at bottom left, currentColor 96%, #0000);
  animation: sh10-1 2s infinite;
}

.custom_loader:after {
  background-image: radial-gradient(
      farthest-side at top left,
      #0000 94%,
      currentColor 96%
    ),
    radial-gradient(farthest-side at top right, #0000 94%, currentColor 96%),
    radial-gradient(farthest-side at bottom right, #0000 94%, currentColor 96%),
    radial-gradient(farthest-side at bottom left, #0000 94%, currentColor 96%);
  animation: sh10-2 2s infinite;
}

@keyframes sh10-1 {
  0%,
  10%,
  90%,
  100% {
    inset: 0;
  }
  40%,
  60% {
    inset: -20px;
  }
}

@keyframes sh10-2 {
  0%,
  40% {
    transform: rotate(0);
  }
  60%,
  100% {
    transform: rotate(90deg);
  }
}

/* ############ for small screen  ###################*/

@media screen and (max-width: 700px) {
  /* 1st screen */
  .landing_img_container {
    height: 30vh;
  }
  .landing_img {
    max-width: 100%;
    height: auto;
  }
  .landing_img_content {
    top: 0rem;
  }
  .landing_img_content h2 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
    padding: 4rem;
  }
  .landing_img_content p,
  .landing_img_content .start_btn {
    display: none;
  }

  /* section2 */

  .section2 {
    margin-top: 4rem;
    padding: 2rem 2rem;
  }

  .back_arrow_wrapper {
    margin-left: 1rem;
    margin-top: 4rem;
  }
}
