:root{
    --shadow : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px ;
    --error_color : red ; 
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.form_wrapper{
    box-shadow: var(--shadow);
    padding: 3rem 4rem;
}
.form{
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}
.error{
    width: 17rem;
    padding: 0.5rem;
    text-align: center;
    color: var(--error_color);
    font-weight: 500;
    font-size: 14px;
}
.google_btn, .form_btn{
    transition: all 0.3s ease-in-out;
}
.google_btn:hover,
.form_btn:hover{
    transform: scale(0.96);
}