.img_1_container {
  position: relative;
  height: 80vh;
}
.img_1 {
  position: absolute;
  max-width: 100%;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
}

/* positioning text over the images */
.img_1_content {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 10rem;
}
.img_1_content h3 {
  color: red;
}
.img_1_content p {
  color: white;
}

.img_2_container {
  height: 90vh;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
}

.img2_content {
  margin-right: 2rem;
}

.img_2 {
  height: 30rem;
  width: 40rem;
}

/* ################## for small sccreens #####################*/

@media screen and (max-width: 700px) {
  .img_1 {
    max-width: 100%;
    height: auto;
  }
  .img_1_content {
    top: 5rem;
  }
  .img_1_content h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  .img_1_content p {
    display: none;
  }
}
